# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files (IMPORTANT)
*.csv
*.parquet
*.feather
*.h5
*.json
*.xlsx
*.xls

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log
